@import "variables";
@import "styles";

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 0.1rem solid rgb(var(--gray-600));
  min-height: 7rem;
  gap: 1rem;
  padding: 0 1rem 0 0.75rem;
  background-color: rgb(var(--gray-900));
  z-index: 3000;

  & .menu-icon svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.header section {
  @include flex_center(center, flex-end);
  flex: 1;
  gap: 1.25rem;
  margin-left: 1.3rem;
}

.logo-container {
  @include flex_center;
  font-size: 2rem;
  gap: 0.85rem;
}

.logo-container i {
  font-size: 3.2rem;
}

.search-bar-container {
  width: clamp(100px, 100%, 250px);
  display: grid;
  grid-template-columns: 1fr 4rem;
  align-items: center;
  border: 1px solid rgb(var(--gray-400));
  border-radius: 0.5rem;
  gap: 1rem;
  padding: 0.2rem 1rem 0.5rem 0;
  position: relative;
  cursor: text;
  transition: border-color 0.15s, background-color 0.15s, width 0.15s;

  &:hover {
    border-color: rgb(var(--gray-50));
  }

  &:focus-within,
  &:has(.icon-btn:active) {
    width: clamp(100px, 100%, 300px);
    border-color: $indigo-800;
  }
}

.search-bar {
  width: 100%;
  min-height: 100%;
  font-size: 1.6rem;
  color: rgb(var(--gray-50));
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.5rem 0;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &::placeholder {
    color: rgb(var(--gray-300));
  }

  &:focus::placeholder {
    color: rgb(var(--gray-50));
  }
}

.icon-btn.search-toggle-icon,
.icon-btn.close-search-icon,
.icon-btn.voice-search-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .header {
    .search-bar-container {
      display: none;

      &.show {
        display: flex !important;
        flex: 1;

        .search-bar {
          flex: 1;
        }
      }
    }

    &:has(.show) {
      section {
        margin: 0;
        flex-direction: row-reverse;
        justify-content: flex-end;
      }

      .logo-container,
      .menu-icon,
      .theme-icon {
        display: none;
      }
    }

    .icon-btn.search-toggle-icon,
    .icon-btn.close-search-icon,
    .icon-btn.voice-search-icon {
      display: flex;
    }
  }
}
