@import "styles";
@import "variables";

.form-container {
  position: fixed;
  background-color: rgb(var(--gray-900));

  padding-block: 2rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.75);
  z-index: 3100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(20rem, 95%, 50rem);
  @include flex_center(column);
  max-height: 80vh;
  overflow: hidden;

  & .__btns-container {
    padding: 0 1.5rem;
    background-color: rgb(var(--gray-900));
    border-top: 0.1rem solid rgb(var(--gray-700));
    padding-top: 1rem;
    position: sticky;
    bottom: 0;
  }
}

body:has(.form-container) .modal-overlay {
  opacity: 1;
  visibility: visible;
  z-index: 3000;
  pointer-events: auto;
}

.form-body {
  padding: 0 2rem !important;
  overflow: clip;
  overflow-y: scroll;

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
  }

  & .form-title {
    margin-bottom: 2rem;
  }

  & .default-title__container {
    padding: 2rem 0 0 0;
    flex-direction: row;
  }

  & .dropdown-list {
    left: -50%;
  }
}

.input-group {
  @include flex_center(column, flex-start);
  width: 100%;
  gap: 0.5rem;
  background-color: rgb(var(--gray-900));
  margin-block: 1.5rem;
  border-radius: 0;
  padding: 0;
  padding-bottom: 1.5rem;

  textarea {
    border: none;
    width: 100%;
    font-size: 1.6rem;
    border-radius: 0.25rem;
    background-color: transparent;
    color: rgb(var(--gray-50));
    font-weight: 400;
    transition: border-color 0.15s;
    resize: none;
    overflow: hidden;

    &:focus {
      outline: none;
    }
  }

  & #title-input {
    border-bottom: 1px solid rgb(var(--gray-700));
  }

  & textarea:focus-within::placeholder {
    color: rgb(var(--gray-600));
  }

  & textarea::placeholder {
    color: rgb(var(--gray-400));
    font-weight: 500;
    transition: color 0.15s;
  }

  label {
    position: relative;
    top: -0.5rem;
    width: 100%;
    font-size: 1.75rem;
    color: rgb(var(--gray-200));
    color: $indigo-500;
    font-weight: 500;
    display: block;
    text-align: left;
  }
}
