@import "variables";
@import "styles";

.light-text {
  font-size: 3rem;
  color: rgb(var(--gray-350));
}

.btn-progress-btn {
  position: relative;
  &::after {
    content: "Progress:";
    position: absolute;
    bottom: calc(100% + 0.5rem);
    left: -8%;
    font-size: 1.2rem;
    color: rgb(var(--gray-250));
  }
}

.priority-btn {
  @include btn_default($red-600);
  position: relative;
  &::after {
    content: "Priority:";
    position: absolute;
    bottom: calc(100% + 0.5rem);
    left: -8%;
    font-size: 1.2rem;
    color: rgb(var(--gray-250));
  }

  &.high-btn {
    @include btn_default($red-600);
  }

  &.medium-btn {
    @include btn_default($amber-600);
  }

  &.low-btn {
    @include btn_default($indigo-600);
  }
}

.dropdown-btn {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0%;
    background: transparent;
    display: none;
  }

  &:hover::before {
    display: block;
  }

  &:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
  }
}

.dropdown-list {
  opacity: 0;
  visibility: hidden;
  z-index: -1000;
  min-width: 100%;
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  @include flex_center(column);
  align-items: flex-start;
  background-color: $gray-800 !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.75);
  transition: all 0.15s;
}

// ======================================

.dropdown-list__item {
  min-width: 100%;
  text-align: center;
  border-radius: 0.25rem;
  background-color: transparent !important;
  font-size: 1.6rem;
  transition: all 0.25s;
  white-space: nowrap;

  &:hover {
    background-color: $gray-900 !important;
  }
}

// ======================================

.task-list-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  gap: 1rem;
  padding-bottom: 5rem;
  margin-top: 2rem;

  &:has(.content-not-found-container) {
    @include flex_center();
  }
}

.task-header {
  z-index: 2000;
  position: sticky;
  top: calc(7rem);
  background-color: rgb(var(--gray-900));
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 0 1.5rem;
  border-bottom: 0.1rem solid rgb(var(--gray-700));

  section {
    width: 100%;
    @include flex_center(row, space-between);
    gap: 2rem;

    &:first-child {
      flex-wrap: wrap;
    }
  }

  & .search-bar-container {
    &:focus-within,
    &:has(.icon-btn:active) {
      width: clamp(100px, 100%, 250px);
    }
  }
}

// ======================================

.task-item {
  height: min-content;
  @include flex_center(column, center);
  align-items: flex-end;
  gap: 1rem;
  padding: 0.5rem 0.5rem 0.75rem;
  border-radius: 0.75rem;
  background-color: rgb(var(--gray-850));

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border: 0.1rem solid transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
  font-size: 1.5rem;
  color: rgb(var(--gray-50));

  &:hover {
    // border-color: rgb(var(--gray-600));
    border-color: $indigo-600;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15),
      -1px -1px 1px rgba(0, 0, 0, 0.15);
  }

  & section {
    @include flex_center;
    gap: 1rem;
  }

  & .__btns-container {
    align-items: flex-start;
    gap: 0.5rem;
  }

  &::after {
    content: "Click to see more";
    position: absolute;
    bottom: 5%;
    left: 10%;
    transform: translate(-10%, 5%);
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    padding: 0.75rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    pointer-events: none;
    transition: all 0.2s;
  }

  position: relative;
  &:has(.task-title:hover)::after {
    opacity: 1;
    visibility: visible;
  }
}

.__btns-container {
  @include flex_center(row, flex-start);
  gap: 1rem;
}

// ======================================

.task-item__header {
  display: flex;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  width: 100%;
  text-align: left !important;
  padding: 1rem 1.5rem 0 1rem;
  min-height: 4.3rem;
  border-radius: 0.5rem;
}

// ======================================

.default-title__container {
  width: 100%;
  @include flex_center(column, space-between);
  padding-top: 1.25rem;
  align-items: flex-start;
  gap: 0.75rem;
}

.task-title {
  margin-top: 0.5rem;
  width: 100%;
  font-size: 1.7rem;
  font-weight: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  color: rgb(var(--gray-300));
  position: relative;
  transition: all 0.2s;

  &:hover {
    color: rgb(var(--gray-50));
  }
}

// .task-description {
//   overflow: hidden;
//   display: -webkit-box;
//   -webkit-line-clamp: 1;
//   line-clamp: 1;
//   -webkit-box-orient: vertical;
//   color: rgb(var(--gray-300));

//   &:hover {
//     color: rgb(var(--gray-50));
//   }
// }

.progress-bar {
  width: 100%;
  padding: 2rem;
  transition: all 0.25s;
}

.progress-text-container {
  width: 100%;
  @include flex_center(row, space-between);
  position: relative;
  gap: 1rem;
  margin-bottom: 2rem;
  font-size: 1.35rem;
  white-space: nowrap;

  .progress-text__percent {
    min-width: 9rem;
    color: #fff;
    // border: 0.1rem dashed $green-600;
    background-color: $green-600;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
  }
}

.content-not-found-container {
  width: clamp(15rem, 95%, 40rem);
  min-height: 25rem;
  position: relative;
  top: -4rem;
  background-color: rgb(var(--gray-800));
  border-radius: 2rem;
  @include flex_center(column);
  text-align: center;
  font-size: 1.5rem;
  color: rgb(var(--gray-200));
  margin-top: 20px;
  font-weight: 500;
  gap: 3rem;

  & svg {
    width: 25%;
    aspect-ratio: 1;
    fill: rgb(var(--gray-200));
  }
}

.custom-progress-bar-container {
  width: clamp(5rem, 90%, 30rem);
  height: 4.3rem;
  background-color: rgb(var(--gray-800));
  border-radius: 2.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  @include flex_center(row, flex-start);
  padding: 0.5rem;
}

.custom-progress__value {
  position: relative;
  height: 100%;
  background: linear-gradient(45deg, $indigo-600, $green-500 70%);
  width: var(--progress-value);
  transition: width 0.6s, border-radius 0.3s;
  border-radius: 2.5rem 0 0 2.5rem;

  &.full {
    border-radius: 2.5rem;
  }

  &::after {
    position: absolute;
    content: "";
    width: 0.5rem;
    height: calc(100% + 0.35rem);
    top: 50%;
    left: calc(100% - 0.5rem);
    transform: translateY(-50%);
    background-color: $indigo-600;
    border-radius: 2rem;
    transition: all 0.35s;
  }

  &:is(.empty, .full)::after {
    opacity: 0;
  }
}

.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(var(--gray-50));
  font-size: 1.75rem;
  font-weight: bold;
}
