// variables.scss
// Green
$green-50: #f0fdf4;
$green-100: #dcfce7;
$green-200: #bbf7d0;
$green-300: #86efac;
$green-400: #4ade80;
$green-500: #22c55e;
$green-600: #16a34a;
$green-700: #15803d;
$green-800: #166534;
$green-900: #14532d;

//Amber
$amber-50: #fffbeb;
$amber-100: #fef3c7;
$amber-200: #fde68a;
$amber-300: #fcd34d;
$amber-400: #fbbf24;
$amber-500: #f59e0b;
$amber-525: #e08e0a;
$amber-550: #c87f09;
$amber-575: #b06f08;

$amber-600: #d97706;
$amber-700: #b45309;
$amber-800: #92400e;
$amber-900: #78350f;

// Red
$red-50: #fef2f2;
$red-100: #fee2e2;
$red-200: #fecaca;
$red-300: #fca5a5;
$red-400: #f87171;
$red-500: #ef4444;
$red-600: #dc2626;
$red-700: #b91c1c;
$red-800: #991b1b;
$red-900: #7f1d1d;

// Yellow
$yellow-50: #fefce8;
$yellow-100: #fef9c3;
$yellow-200: #fef08a;
$yellow-300: #fde047;
$yellow-400: #facc15;
$yellow-500: #eab308;
$yellow-600: #ca8a04;
$yellow-700: #a16207;
$yellow-800: #854d0e;
$yellow-900: #713f12;

// Indigo
$indigo-50: #eef2ff;
$indigo-100: #e0e7ff;
$indigo-200: #c7d2fe;
$indigo-300: #a5b4fc;
$indigo-400: #818cf8;
$indigo-500: #6366f1;
$indigo-600: #4f46e5;
$indigo-700: #4338ca;
$indigo-800: #3730a3;
$indigo-900: #312e81;

// Gray
$gray-50: #fafafa;
$gray-100: #f4f4f5;
$gray-150: #e9e9ec;
$gray-200: #e4e4e7;
$gray-250: #dcdcde;
$gray-300: #d4d4d8;
$gray-350: #c4c4c9;
$gray-400: #a1a1aa;
$gray-450: #909099;
$gray-500: #71717a;
$gray-550: #66666f;
$gray-600: #52525b;
$gray-650: #46464f;
$gray-700: #3f3f46;
$gray-750: #323237;
$gray-800: #27272a;
$gray-850: #1e1e21;
$gray-900: #18181b;
$gray-950: #0f0f11;
